<h3>List of Products</h3>
<div>
	<a routerLink="/people/add">
		Add New People Information
	</a>
</div>
<table>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
	<th>Email</th>
	<th>Age</th>
	<th>City</th>
	<th>Actions</th>
  </tr>
  <tr *ngFor="let people of peoples">
	<td>{{people.id}}</td>
    <td>{{people.firstname}}</td>
    <td>{{people.lastname}}</td>
	<td>{{people.email}}</td>
	<td>{{people.age}}</td>
	<td>{{people.city}}</td>
	<td>
		<a routerLink="/people/{{people.id}}/detail">Detail</a>&nbsp;
		<a routerLink="/people/{{people.id}}/update">Edit</a>&nbsp;
		<button title="delete people" (click)="delete(people)">x</button>
	</td>
  </tr>
</table>